body {
  font-family: Poppins;
}

.banerContainer {
  background-image: url(../../Assets/Rectangle\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  width: 1440px;
  height: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-position: center;
  text-align: center;
  position: relative;
}
.shopContainer{
  margin-bottom: 10rem;
  padding-bottom: 16rem;
}

.shopTitle {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0;
}

.breadcrumb {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.breadcrumbItem {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;

}

.breadcrumbItem.active {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;

}

.breadcrumbItem::after {
  content: ">";
  color: #000;
  padding: 0 10px;
}

