body {
  font-family: Poppins;
}

.banerContainer {
  background-image: url(../../Assets/Rectangle\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  width: 1440px;
  height: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-position: center;
  text-align: center;
  position: relative;
}

.checkoutContainer {
  margin-bottom: 10rem;
  padding-bottom: 16rem;
}

.checkoutTitle {
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

.breadcrumbNav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.breadcrumbNav .breadcrumbItem {
  font-size: 1rem;
  color: #6c757d;
}

.breadcrumbNav .breadcrumbItem.active {
  font-weight: bold;
  color: #000;
}

h3 {
  margin-bottom: 20px;
}

.orderSummary {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.orderSummary p {
  margin-bottom: 10px;
}

.orderSummary h4 {
  margin-top: 20px;
}

.paymentInfo {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 20px;
}

.placeOrderBtn {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}