body {
    font-family: Poppins;
  }
  
.navbarBrand{
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    line-height: 40px;
}

.logo {
    margin-right: 5px;
    vertical-align: bottom;
}

.navLink{
    font-size: 16px;
    font-weight: 700 !important; 
    margin-right: 3rem;
}
